doctype html
html(lang='en')
  head
    title= 'Practice' 
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css')
    style
      include style.css

    body
      block content

      script(src='https://unpkg.com/axios/dist/axios.min.js')