html {
  font-family: 'Ubuntu';
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(35deg, #4e5e50, #3f5544);
  color: #efead8;
}

h1,h2,h3,h4 {
  text-shadow: 0 0 5px #d6c5a8;
}

h4 {
  margin: 0.5rem;
}

a {
  text-decoration: none;
  color: #a7c5ab;
  transition: ease 500ms all;
  padding: 0.5rem;
}

a:hover {
  background-color: #4e5e50;
  color: white;
}

.card {
  width: 600px;
  margin: 4rem auto;
  text-align: left;
  padding: 1rem;
  background-color: rgba(45, 45, 45, 0.48);
  border-radius: 1rem;
}

.card h3 {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 90%;
  }
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: justify;
}

.list-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

li small {
  font-size: small;
  color: rgb(194, 194, 194);
  margin-left: auto;
}

hr {
  border-color: rgba(128, 128, 128, 0.40);
  border-style: dashed;
}

img {
  border-radius: 0.5rem;
}

/* Scroll Bar */
::-webkit-scrollbar {
  background: #3f5544;
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(197, 197, 197, 0.48);
}
::-webkit-scrollbar-thumb {
  background: rgba(59, 59, 59, 0.48);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(210, 210, 210, 0.48);
}